<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418376134040-g8ppqr40v9m0lq02ts7qp6rmj4eau6t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418376134040-g8ppqr40v9m0lq02ts7qp6rmj4eau6t0</string>
	<key>API_KEY</key>
	<string>AIzaSyBS2BaN69ijm0TixUG1lxVg3_OzFuGkZ1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>418376134040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ontime</string>
	<key>PROJECT_ID</key>
	<string>ontime-ac204</string>
	<key>STORAGE_BUCKET</key>
	<string>ontime-ac204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:418376134040:ios:80cee10345e88489594fed</string>
</dict>
</plist>
